<% layout("/layouts/boilerplate") %>

<div class="row">
<div class="col-8 offset-2">
  <h3>Create a New Listing</h3>
  <form method="POST" action="/listings">

    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        name="listing[title]"
        placeholder="Enter title"
        class="form-control"
      />
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        type="text"
        name="listing[description]"
        placeholder="Enter description"
        class="form-control"
      ></textarea>
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Image Link</label>
      <input
        type="text"
        name="listing[image]"
        placeholder="Enter image URL/Link"
        class="form-control"
      />
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input 
        type="number" 
        name="listing[price]" 
        placeholder="Enter price" 
        class="form-control" />
    </div>

    <div class="mb-3">
      <label for="country" class="form-label">Country</label>
      <input 
        type="text" 
        name="listing[country]" 
        placeholder="Enter country" 
        class="form-control" />
    </div>

    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input
        type="text"
        name="listing[location]"
        placeholder="Enter location"
        class="form-control"
      />
    </div>

    <button class="btn btn-dark">Add</button>
  </form>
</div>
</div>